{% extends 'KyklydseChristmasListBundle::layout.html.twig' %}

{% block content %}
<form action="{{ path('kyklydse_christmaslist_list_commentitem', {'list_id': list.id, 'item_id': item.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    <button type="submit">{% trans %}Validate{% endtrans %}</button>
</form>
<a href="{{ path('kyklydse_christmaslist_list_view', {'id': list.id}) }}">{{ 'Back to list' | trans }}</a>
{% endblock %}