<h1>New Christmas List</h1>

<form action="{{ path('kyklydse_christmaslist_list_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>