{% extends 'KyklydseChristmasListBundle::layout.html.twig' %}

{% block content %}

    {% set owner_names %}
        {% for owner in list.owners %}
            {{ owner.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endset %}

    <h1>{% trans with {'%name%': owner_names}%}%name%'s list{% endtrans %} <small><a href="{{ path('kyklydse_christmaslist_list_edit', {id: list.id}) }}">{% trans %}Edit{% endtrans %}</a></small></h1>

    {% for item in list.items %}
        {% if not list.isOwner(current_user) or item.proposer == current_user %}
        <section>
            <h3>
                {{ item.title }}
            </h3>
            <h4 class="subheader">
                {% trans with {'%name%': item.proposer} %}proposed by %name%{% endtrans %}
                {% if item.url %}<a href="{{ item.url }}" class="more-info">{% trans %}More info{% endtrans %}</a>{% endif %}
                {% if item.proposer == current_user %}
                    <a class="tiny button" href="{{ path('kyklydse_christmaslist_list_edititem', {'id': list.id, 'item_id': item.id}) }}">{% trans %}Edit{% endtrans %}</a>
                    <form style="display:inline" action="{{ path('kyklydse_christmaslist_list_deleteitem', {'id': list.id, 'item_id': item.id}) }}" method="post">
                        <button type="submit" class="tiny alert">{% trans %}Delete{% endtrans %}</button>
                    </form>
                {% endif %}
            </h4>

            <p class="description">{{ item.description | nl2br}}</p>
            {% if not list.isOwner(current_user) %}
                {% for comment in item.comments %}
                    <blockquote>
                        {{ comment.content | nl2br }}
                        <cite>{{ comment.author }}</cite>
                    </blockquote>
                {% endfor %}
                <a class="button" href="{{ path('kyklydse_christmaslist_list_commentitem', {'id': list.id, 'item_id': item.id})}}">{% trans %}New comment{% endtrans %}</a>

            {% endif %}
        </section>
        {% endif %}
    {% endfor %}
    <a class="button" href="{{ path('kyklydse_christmaslist_list_newitem', {'id': list.id}) }}">{% trans %}New item{% endtrans %}</a>
    <a class="button" href="{{ path('kyklydse_christmaslist_list_index') }}">{% trans %}Back to lists{% endtrans %}</a>

{% endblock %}
