{% extends 'KyklydseChristmasListBundle::layout.html.twig' %}

{% block content %}

    <h1>{% trans %}My profile{% endtrans %}</h1>

    {{ form_start(userForm) }}
        {{ form_errors(userForm) }}

        {{ form_rest(userForm) }}

        <button type="submit">{% trans %}Validate{% endtrans %}</button>
    {{ form_end(userForm) }}

    {% if user.facebookId %}
        {% trans %}Linked with Facebook{% endtrans %}
    {% else %}
        <a class="button" href="{{ path('facebook_redirect', {return: 'profile'}) }}">
            {% trans %}Link with Facebook{% endtrans %}
        </a>
    {% endif %}

    <h2>{% trans %}My friends{% endtrans %}</h2>

    <ul>
    {% for friend in user.friends %}
        <li>{{ friend.username }}</li>
    {% endfor %}
    </ul>
    {% if user.invitedFriends | length %}
        <h2>Amis invités</h2>
        <ul>
            {% for friend in user.invitedFriends %}
                <li>{{ friend.username }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.facebookId %}
        <a class="button" href="{{ path('facebook_redirect', {return: 'profile'}) }}">{% trans %}Find Facebook friends{% endtrans %}</a>
        <a class="button" href="{{ path('facebook_invite') }}">{% trans %}Invite Facebook friends{% endtrans %}</a>
        <br/>
    {% endif %}

    {% if friendsFriendsForm.invitedFriends.vars.choices is not empty %}
        {{ form_start(friendsFriendsForm) }}
        {{ form_errors(friendsFriendsForm) }}

        {{ form_rest(friendsFriendsForm) }}

        <button type="submit">{% trans %}Invite{% endtrans %}</button>
        {{ form_end(friendsFriendsForm) }}
    {% endif %}

    <hr/>
    <a class="button" href="{{ path('kyklydse_christmaslist_list_index') }}">{% trans %}Back to lists{% endtrans %}</a>
{% endblock %}
